body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #323e4f;
    overflow: hidden;
    transform: scale(0.75);
}

#main-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#map {
    width: 100%;
    height: 70vh;
    max-height: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

#selection-info {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
    width: 100%;
    margin: 0;
    font-size: 25px;
}

.link-boxes {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 19px;
}

.subpage-link {
    flex: 1;
    border: none;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color: #6990ad;
    color: #ffffff;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.subpage-link:hover {
    background-color: #96cada;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.subpage-link a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#headerZone {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    background-color: #6990ad;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    font-size: 40px;
}

@media (max-width: 768px) {
    body {
        margin: 10px;
    }
    .link-boxes {
        flex-direction: column;
    }
    #map {
        height: 300px;
    }
}

body.country-details {
    font-family: 'Roboto', sans-serif;
    background-color: #323e4f;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    transform: scale(1);
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #6990ad;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -15px;
    width: fit-content;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

#headerZone,
#countryBox {
    width: 100%; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #000000
}

#returnLink {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #6990ad;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

#returnLink:hover {
    background-color: #96cada;
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    body.country-details {
        padding: 10px;
    }
    header h1 {
        font-size: 2rem;
    }
    #detailsHeaderZone, #countryBox {
        font-size: 1rem;
        padding: 15px;
    }
}
