body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    overflow: hidden;
}

#main-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#map {
    width: 100%;
    height: 70vh;
    max-height: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

#selection-info {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.link-boxes {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.subpage-link {
    flex: 1;
    border: none;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color: #007bff;
    color: #ffffff;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.subpage-link:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.subpage-link a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#headerZone {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        margin: 10px;
    }
    .link-boxes {
        flex-direction: column;
    }
    #map {
        height: 300px;
    }
}
